/advancements/
/bac_datapack/
credentials.json
settings.json
__pycache__
tracker/src/__pycache__
bac_tracker.code-workspace
.venv
latest.log
build
dist
tracker.exe
tracker.spec
dev_tools/releases/*
logs
tracker/src/test.py