<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAC Overlay</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="overlay" id="timer">99:99:99</div>
    <div class="overlay" id="adv-count">Error D:</div>
    <div class="overlay" id="warning">Watch out!</div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
